@use "./variables" as v;

// Typography
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-medium {
  font-weight: 500;
}
.font-size-small {
  // INUTILIZZATO
  font-size: v.$s;
}

// Spacing
.s-mx {
  margin-inline: var(--S-MX);
}
.s-px {
  padding-inline: var(--S-MX);
}

.mt-xxs {
  margin-top: v.$xxs;
}
.mt-xs {
  margin-top: v.$xs;
}
.mt-s {
  margin-top: v.$s;
}
.mt-regular {
  margin-top: v.$regular;
}
.mt-m {
  margin-top: v.$m;
}
.mt-l {
  margin-top: v.$l;
}
.mt-xl {
  margin-top: v.$xl;
}
.mt-xxl {
  margin-top: v.$xxl;
}
.mt-xxxl {
  margin-top: v.$xxxl;
}

.ml-xxl {
  margin-left: v.$xl;
}

.mr-regular {
  margin-right: v.$regular;
}

// Syling
button.btn-1s,
a.btn-1s {
  transition: 0.2s;
  display: inline-block;
  font:
    v.$s var(--font-montserrat),
    sans-serif;
  padding: 0.75em 1.125em;
  border-radius: v.$xs;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  background-color: v.$primary;
  &:hover {
    background-color: v.$primary-hover;
  }
}
button.btn-1i,
a.btn-1i {
  transition: 0.2s;
  display: inline-block;
  font:
    v.$regular var(--font-montserrat),
    sans-serif;
  padding: 1rem 1.5rem 1rem 1.25rem;
  border-radius: v.$xs;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  background-color: v.$primary;
  svg {
    margin-right: v.$xxs;
    font-size: 18px;
    vertical-align: middle;
  }
  &:hover {
    background-color: v.$primary-hover;
  }
}
button.btn-1l,
a.btn-1l {
  transition: 0.2s;
  display: inline-block;
  font:
    v.$regular var(--font-montserrat),
    sans-serif;
  padding: 1.125em 2em;
  border-radius: v.$xs;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  background-color: v.$primary;
  &:hover {
    background-color: v.$primary-hover;
  }
}
button.btn-1li,
a.btn-1li {
  transition: 0.2s;
  display: inline-block;
  font:
    v.$regular var(--font-montserrat),
    sans-serif;
  padding-block: 1.125em;
  padding-left: 1.75em;
  padding-right: 2em;
  border-radius: v.$xs;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  background-color: v.$primary;
  svg {
    font-size: v.$l;
    margin-right: 8px;
    vertical-align: middle;
  }
  &:hover {
    background-color: v.$primary-hover;
  }
}
button.btn-2i,
a.btn-2i {
  $border-width: 2px;
  transition: 0.2s;
  display: inline-block;
  font:
    v.$regular var(--font-montserrat),
    sans-serif;
  padding: calc(1rem - #{$border-width}) calc(1.5rem - #{$border-width})
    calc(1rem - #{$border-width}) calc(1.25rem - #{$border-width});
  border-radius: v.$xs;
  border: $border-width solid v.$primary;
  cursor: pointer;
  color: v.$primary;
  font-weight: 600;
  background-color: transparent;
  svg {
    margin-right: v.$xxs;
    font-size: 18px;
    vertical-align: middle;
  }
  &:hover {
    color: v.$primary-hover;
    border-color: v.$primary-hover;
  }
}
button.btn-2l,
a.btn-2l {
  $border-width: 2px;
  transition: 0.2s;
  display: inline-block;
  font:
    v.$regular var(--font-montserrat),
    sans-serif;
  padding: calc(1.125em - $border-width) calc(2em - $border-width);
  border-radius: v.$xs;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  border: $border-width solid currentColor;
  &:hover {
    color: v.$primary-hover;
    border-color: v.$primary-hover;
  }
}
