@use '@/sass/variables' as v;
@use '@/sass/mixins' as m;

.admin {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-block: v.$xxxl;
}
