@use '@/sass/variables' as v;
@use '@/sass/mixins' as m;

.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include m.respond-to('mobile') {
    height: auto;
  }
}
